#stage{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 7.5%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#coins{
    position: absolute;
    font-size:  50px;
    top: 7.5%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}